body {
    display: flex;
    margin: 0px;
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-color: #83d6ed;
}

aside {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    min-height: 100vh;
}

aside section {
    display: flex;
    align-items: center;
    width: 95%;
    height: 95%;
    background-color: #83d6ed;
    padding: 40px 0;
    border-radius: 50px;
}

aside section > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

aside form {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    width: 45%;
    background-color: #83d6ed;
    border-radius: 50px;
    border: 2px solid #000000;
}

input {
    width: 80%;
    border: none;
    outline: none;
    border-radius: 50px 0 0 50px;
}

form button {
    border: none;
    background-color: #b8dae3b6;
    color: rgb(0, 0, 0);
    border-radius: 0 50px 50px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    
}

#current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 10%;
}

#forecast {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    
}

#current, #forecast {
    background-color: #b8dae3b6;
    border-radius: 360px;
    padding: 20px;
    
}
#searchHistory {
    display: flex;
    flex-direction: column;
}

#forecast > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#b8dae3b6;
    border-radius: 10pt;
    padding: 20px;

}